OPENAI_API_KEY=your_key
GROQ_API_KEY=your_key
RESEND_API_KEY=re_YYcRYQSR_7C2KLbHqYZ4Aa1WPHFvWBNNE
RESEND_EMAIL="helder.oliveira@inova.business"
PATH_ATA="../ata_reuniao.txt"
MODEL="openai/gpt-4o-mini"
#MODEL="ollama/llama3.1:8b"
#MODEL="meta-llama/Meta-Llama-3-8B-Instruct"
#MODEL="groq/llama3-8b-8192"
